{% extends "accounting/layout.html" %}

{% block content %}
    <h1 class="page-header">Clients <small>which belong to you</small></h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cli in clients %}
            <tr>
                <td>{{ cli.id }}</td>
                <td>{{ cli.name }}</td>
                <td class="text-right">
                    <a href="{% url 'people:client-edit' cli.pk %}" class="btn btn-default btn-sm" role="button">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'people:client-create' %}" class="btn btn-primary btn-lg" role="button">
        Add a client
    </a>
{% endblock content %}
