{% extends "layout.html" %}

{% block content %}
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>3</h4>
            <span class="text-muted">Number of organizations</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>$ 1234</h4>
            <span class="text-muted">Turnover cumulated</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>0</h4>
            <span class="text-muted">...</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>0</h4>
            <span class="text-muted">...</span>
        </div>
    </div>

    <h2 class="sub-header">Last invoices <small>across organizations</small></h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Client</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                    <td>sit</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
