{% extends "accounting/base.html" %}
{% load nav bootstrap3 %}

{% block maincontent %}
    {% block nav %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                {% url 'books:organization-selector' as books_organization_selector_url %}
                {% url 'books:dashboard' as books_dashboard_url %}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a type="btn" href="{{ books_organization_selector_url }}">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        {% if selected_organization %}
                        <li><a href="{{ books_dashboard_url }}">{{ selected_organization.display_name }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                {% url 'connect:getting-started' as getting_started_url %}
                <div class="navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ getting_started_url }}">Getting started</a></li></li>
                    </ul>
                    <p class="navbar-text">Accounting {{ display_version }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock nav %}

    {% block container %}
    <div class="container-fluid">
        <div class="row">
            {% block sidebar %}
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% url 'books:dashboard' as books_dashboard_url %}
                    <li class="{% active request books_dashboard_url exact_match=True %}"><a href="{{ books_dashboard_url }}">Overview</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    {% url 'books:estimate-list' as books_estimate_list_url %}
                    {% url 'books:invoice-list' as books_invoice_list_url %}
                    {% url 'books:bill-list' as books_bill_list_url %}
                    {% url 'books:expense_claim-list' as books_exepense_claim_list_url %}
                    {% url 'books:tax_rate-list' as books_tax_rate_list_url %}
                    <li class="{% active request books_estimate_list_url exact_match=True %}"><a href="{{ books_estimate_list_url }}">Estimates</a></li>
                    <li class="{% active request books_invoice_list_url exact_match=True %}"><a href="{{ books_invoice_list_url }}">Invoices</a></li>
                    <li class="{% active request books_bill_list_url exact_match=True %}"><a href="{{ books_bill_list_url }}">Bills</a></li>
                    <li class="{% active request books_exepense_claim_list_url exact_match=True %}"><a href="{{ books_exepense_claim_list_url }}">Expense claims</a></li>
                    <li class="{% active request books_tax_rate_list_url exact_match=True %}"><a href="{{ books_tax_rate_list_url }}">Tax Rates</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    {% url 'people:client-list' as clients_client_list_url %}
                    {% url 'people:employee-list' as employees_employee_list_url %}
                    <li class="{% active request clients_client_list_url exact_match=True %}"><a href="{{ clients_client_list_url }}">Clients</a></li>
                    <li class="{% active request employees_employee_list_url exact_match=True %}"><a href="{{ employees_employee_list_url }}">Employees</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    {% url 'reports:report-list' as reports_report_list_url %}
                    {% url 'reports:settings-list' as reports_settings_list_url %}
                    <li class="{% active request reports_report_list_url exact_match=True %}"><a href="{{ reports_report_list_url }}">Reports</a></li>
                    <li class="{% active request reports_settings_list_url exact_match=True %}"><a href="{{ reports_settings_list_url }}">Settings</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="disabled"><a href="">Reconciliation</a></li>
                </ul>
            </div>
            {% endblock sidebar %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% bootstrap_messages %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock container %}
{% endblock maincontent %}
