{% load currency_filters %}

<table class="table table-striped">
    <thead>
        <tr class="row">
            <th>#</th>
            <th>Client</th>
            {% if detailed %}
            <th>Description</th>
            {% endif %}
            <th class="col-sm-2">Total</th>
            <th class="text-right col-sm-4">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for bill in bills %}
        <tr class="row">
            <td>{{ bill.number }}</td>
            <td>{{ bill.client }}</td>
            {% if detailed %}
            <td>{{ bill.description }}</td>
            {% endif %}
            <td class="col-sm-2">{{ bill.total_excl_tax|currency }}</td>
            <td class="text-right col-sm-4">
                <a href="{% url 'books:bill-detail' bill.pk %}" class="btn btn-success btn-sm" role="button">View</a>
                {% if not hide_edit %}
                <a href="{% url 'books:bill-edit' bill.pk %}" class="btn btn-default btn-sm" role="button">Edit</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
