{% extends "layout.html" %}
{% load currency_filters %}

{% block content %}
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>{{ organizations_count|default:0 }}</h4>
            <span class="text-muted">Number of organizations</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>{{ organizations_cumulated_turnovers|currency|default:"-" }}</h4>
            <span class="text-muted">Turnovers cumulated</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>{{ organizations_cumulated_profits|currency|default:"-" }}</h4>
            <span class="text-muted">Profits cumulated</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <h4>{{ organizations_cumulated_active_days|default:0 }}</h4>
            <span class="text-muted">Active days cumulated</span>
        </div>
    </div>

    <h2 class="sub-header">Organizations <small>shortcuts</small></h2>
    <div class="row">
        {% for orga in organizations %}
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ orga.display_name }}</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'books:organization-detail' orga.pk %}" class="btn btn-success btn-block" role="button">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h2 class="sub-header">Last invoices <small>across organizations</small></h2>
    {% include "books/_partials/invoice_list.html" with invoices=last_invoices detailed=True %}
{% endblock content %}
