{% extends "layout.html" %}
{% load static bootstrap3 form_filters %}

{% block content %}
    <h1 class="page-header">Create an {{ form|get_form_model_verbose_name }}</h1>

    <form action="." method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form form %}

        {{ invoiceline_formset.management_form }}
        {{ invoiceline_formset.non_field_errors }}
        {% for invoiceline_form in invoiceline_formset %}
            <div class="formset-form">
                <h2 class="sub-header">{{ invoiceline_form|get_form_model_verbose_name }} #{{ forloop.counter }}</h2>
                {% bootstrap_form invoiceline_form layout='vertical' %}
            </div>
        {% endfor %}

        {% buttons layout='vertical' %}
            <button type="submit" class="btn btn-success">
                {% bootstrap_icon "star" %} Create
            </button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'accounting/js/jquery.formset.js' %}"></script>
    <script src="{% static 'accounting/js/books/invoice_create.js' %}"></script>
{% endblock %}
