{% extends "accounting/layout.html" %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 main">
            <h1 class="page-header text-center">Getting Started</h1>

            <div class="row">
                <ol class="list-group check-list">
                    {% for step in steps %}
                    {% if not step.completed %}
                    <a class="list-group-item {% ifequal step next_step %}active{% endifequal %}" href="{{ step.get_action_url }}">
                        {{ step.opts.name }}
                    </a>
                    {% else %}
                    <li class="list-group-item disabled {% ifequal step next_step %}active{% endifequal %}">
                        <span class="check-item">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                        {{ step.opts.name }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ol>

                <a href="{% url 'books:dashboard' %}" {% if not all_steps_completed %}disabled{% endif %} class="btn btn-success btn-lg btn-block">All Good! Go make invoices</a>
            </div>
        </div>
    </div>
</div>
{% endblock container %}
