{% if check.has_passed %}
    <span class="check-item"><span class="glyphicon glyphicon-ok"></span></span>
    {{ check.field.verbose_name }}
{% endif %}
{% if check.has_failed %}
    <h4 class="list-group-item-heading">
        <span class="check-item"><span class="glyphicon glyphicon-minus-sign"></span></span>
        {{ check.field.verbose_name }}
    </h4>
    {% if check.message %}
    <p class="list-group-item-text">
        <small>{{ check.message }}</small>
    </p>
    {% endif %}
{% endif %}